.wrapper {
  padding-left: 250px;
  position: absolute;
  margin-right: -250px; }

.sidebar {
  background: #4A4F56;
  z-index: 1000;
  position: fixed;
  left: 250px;
  width: 250px;
  height: 100%;
  margin-left: -250px;
  overflow-y: auto; }

.sidebar-header {
  width: auto;
  height: 60px;
  background: #4E5665; }

.sidebar-header > div {
  color: #FFFFFF;
  text-align: center;
  font-size: 20px;
  padding-top: 15px; }

.sidebar-footer {
  position: fixed;
  width: 250px;
  height: 60px;
  bottom: 0;
  background: #4A4F56; }

.sidebar-footer > div {
  color: #FFFFFF;
  text-align: center;
  font-size: 20px;
  padding-top: 15px; }

.topbar {
  background: #FFFFFF;
  z-index: 999;
  position: fixed;
  top: 0;
  height: 60px;
  width: 100%;
  padding-left: 250px;
  margin-left: -250px; }

.menu {
  position: absolute;
  width: inherit;
  height: 100%; }

.menu-item {
  color: #FFFFFF;
  padding: 10px 15px 10px 15px; }

.menu-item:hover {
  background: #5D6067; }

.page-content-wrapper {
  position: absolute;
  width: 100%;
  background: #E9EBEE;
  padding-top: 60px;
  margin-bottom: -60px; }

.dropdown {
  position: absolute;
  right: 20px;
  top: 15px;
  cursor: pointer; }

.dropdown-toggle {
  font-size: 28px; }
